/*Barra de Navegación*/

ol{
    list-style-type: none; /*Le quito los puntos*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 54, 54);
}

.desplegable > li{
    float: left;
}

.desplegable li a{
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    min-width: 150px;
}

.desplegable li ol{
    display: none;
    position: absolute;
    min-width: 140px;
}

/*Al momento que pase el cursor cambiara el color - hover*/
.desplegable li a:hover{
    background-color: black;
}

/* > significa los elementos que sean directos */
/*Esta es la propiedad en la que el menu se despliega*/

.desplegable li:hover > ol{
    display: block;
}

#encabezado{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

