/*Tamaño de la tabla*/
table{
    width: 70%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td{
    width: 25%;
    text-align: center;
    border: 1px solid #6c7075;
}

.color{
    background-color: #7f858b;
    
}

/*Definir un tamaño a la imagen*/

img{
    height: 200px;
}

/*Tanto para dimensional como para tridimencional*/
.parrafo{
    text-align: justify;
}

.titulos{
        text-align: center;
        color: black;
        font-size: 50px;
        text-transform: uppercase;
    }

.subtitulos{
    text-align: center;
    color: black;
    font-size: 30px;
}

body{
    background-color: rgba(244, 249, 253, 0.884);
}

.videoPropiedades{
    text-align: center;
}

iframe{
    width: 560px;
    height: 315px;
}

caption{
    text-align: center;
    color: black;
    font-size: 20px;
}

.formula{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
